/*global*/
:root{
    --primary: rgb(211, 139, 31);
    --secondary: rgb(9, 168, 9);
    --tertiary: rgb(63, 57, 51);
}
html{
    font-size: 62.5%;/* 10px = 1rem*/
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}
h1{
    font-size: 3rem;
}
h2{
    margin: 1rem 0;
    font-size: 2.4rem;
}
h3{
    margin: 1rem 0;
    font-size: 1.8rem;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    color: white;
    height: 40vh;
}
.menu a{
    margin: 0 2rem;
}
.site-init p{
    font-size: 2rem;
}
.site-second{
    background-color: #222222;
    color: white;
}

/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

/*houses*/
.house-item{
    background-color: #dedede;
    width: 400px;
    border: 1px var(--tertiary) solid;
    margin-right: 1rem;
}
.price{
    color: var(--secondary);
    font-weight: bold;
}
li img{
    margin-right: 1.5rem;
}
.btn{
    display: inline-block;
    color: white;
    background-color: var(--primary);
    border: 0;
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
}

/*contact form*/
fieldset{
    padding: 1rem;
}
legend, label, input{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input, .input-container textarea{
    width: 70%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}