/*global*/
:root{
    --primary: rgb(211, 139, 31);
    --secondary: rgb(9, 168, 9);
    --tertiary: rgb(63, 57, 51);
}
html{
    font-size: 62.5%;/* 10px = 1rem*/
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
}
h1{
    font-size: 3rem;
}
h2{
    text-align: center;
    margin: 1rem 0;
    font-size: 2.4rem;
}
h3{
    margin: 1rem 0;
    font-size: 1.8rem;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}
@media(max-width:768px){
    .flex-header{
        flex-direction: column;
    }
    .flex-header-v{
        height: 25vh;
        text-align: center;
    }
}
/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    color: white;
    height: 40vh;
}
.menu a{
    margin: 0 2rem;
}
.site-init p{
    font-size: 2.4rem;
    font-weight: 530;
    width: 50vh;
}
.site-second{
    background-color: #222222;
    color: white;
}
@media(max-width:768px){
    .site-init{
        height: 32vh;
    }
    .site-init p{
        font-size: 1.5rem;
        width: auto;
    }
    .site-second{
        height: 22vh;
    }
    .flex-header{
        padding-top: 2rem;
    }
    .menu a{
        margin: 0 .9rem;
    }
}

/*about us*/
.flex-about, .flex-about-p{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}
.flex-about-p{
    gap: 2rem;
    margin: 3rem 0;
}
.flex-about-p .blog-info p{
    text-align: justify;
}
.about-img{
    width: 150rem;
    height: 40rem;
}
table{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
    font-size: 1.6rem;
    
}
table, th, td{
    border-bottom: 1px solid var(--primary);
    border-collapse: collapse;
}
thead{
    height: 4rem;
}
th, td{
    padding: 5px;
    text-align: start;
    border-radius: 1rem;
}
th{
    background-color: var(--primary);
    color: black;
    font-weight: bold;
}
td{
    padding: 1rem;
    background-color: rgba(235, 197, 141, 0.349);
}

@media(max-width:768px){
    .flex-about, .flex-about-p{
        flex-direction: column;
    }
    .flex-about-p .blog-info{
        margin-left: 0;
    }
    table{
        width: 100%;
    }
}
/*houses*/
.house-item{
    background-color: #dedede;
    border: 1px var(--tertiary) solid;
    margin: 0 0.5rem;
}
.price{
    color: var(--secondary);
    font-weight: bold;
}
li img{
    margin-right: 1.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--primary);
    border: 0;
    margin-bottom: 2rem;
    padding: 1rem;
}
@media(max-width:768px){
    .house-item{
        margin: 0.5rem 0;
    }
}

/*contact form*/
fieldset{
    padding: 1rem;
}
legend{
    font-weight: bold;
    color: rgb(113, 122, 129);
    font-size: 1.8rem;
}
input, select, textarea{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input, .input-container textarea, .input-container select, .radio{
    width: 80%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1.6rem;
}
.instructions{
    text-align: center;
    font-size: 2.1rem;
}
.input-container .radio{
    width: 10%;
}
.btn-send{
    background-color: var(--secondary);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0;
    border: none;
}
@media(max-width: 768px){
    .input-container input, .input-container textarea, .input-container select, .radio{
        width: 95%;
    }
    .input-container label{
        text-align: left;
        margin-right: -3rem;
    }
    .input-container .radio{
        margin-right: 3rem;
    }
}

/*blog*/
.flex-blog{
    display: flex;
    gap: 2rem;
    background-color: #dedede;
    border: 1px var(--tertiary) solid;
    margin: 2rem 0;
    border-radius: 3rem;
}
.blog-img{
    max-width: 45rem;
    max-height: 40rem;
}
.blog-img img, .about-img img{
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}
.blog-info, .about-info{
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem 2rem .5rem;
    gap: 2rem;

}
.blog-info hr{
    background-color: var(--primary);
    height: .1rem;
    margin-top: auto;
    margin-bottom: 1.5rem;
}
.blog-quantities{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
@media(max-width:768px){
    .flex-blog{
        flex-direction: column;
    }
    .blog-img, .about-img{
        max-width: 100%;
        max-height: 100%;
    }
    .blog-info{
        margin: 3rem;
    }
    
}

/*footer*/
.footer-init{
    display: flex;
    background-image: url(./img/encuentra.jpg);
    height: 35vh;
    background-position: center;
    background-size: 250%;
    color: white;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}
.flex-footer{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.flex-footer h2{
    text-align: left;
}
.flex-footer .btn{
    margin-top: 2rem;
}
.flex-footer .menu{
    margin-top: 1rem;
}
.site-second .flex-footer{
    align-items: center;
}
@media(max-width:768px){
    .footer-init p{
        font-size: 1.2rem;
    }
}