/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: white;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100px;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
    width: 80%;
    margin: 0 auto;
}

/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    background-size: cover;
    color: white;
    height: 40vh;
}
.menu a{
    margin: 0 20px;
}
.site-init p{
    font-size: 20px;
}

/*about us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

/*houses*/
.house-item{
    background-color: #dedede;
    width: 400px;
    border: 1px rgb(63, 57, 51) solid;
}
.price{
    color: rgb(9, 168, 9);
    font-weight: bold;
}
li img{
    margin-right: 15px;
}
.btn{
    display: inline-block;
    color: white;
    background-color: rgb(211, 139, 31);
    border: 0;
    width: 100%;
    margin-bottom: 2rem;
    padding: 10px;
}
